*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , 'sans-serif';
    font-size: 18px;
}
body{
    background-color: #d3c0a0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo img{
    height: 90px;
    width: 100%;
}
.header{
    height: 80px;
    width: 100%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center ;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
    margin-right: 60px;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}
.container{
    display: flex;
    width: 90%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 20px;
    margin-top: 30px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: rgb(225, 210, 210);
    margin-left: 20px;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;  
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    box-shadow: rgba(218, 165, 32 ) 0px 54px 55px, rgba(247, 249, 250, 0.12) 0px -12px 30px, rgba(246, 248, 248, 0.25) 0px 4px 6px, rgba(246, 248, 248, 0.25) 0px 12px 13px, rgba(243, 247, 246, 0.25) 0px -3px 5px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: red;

}
button{
    width: 100%;
    position:none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 7px 25px;
    cursor: pointer;
    color:white;
}
.neon-button {
    position: relative;
    background-color: #4000C0; /* Mixture of aqua and purple */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    z-index: 1;
  }
  button:hover{
    background-color: rgb(48, 11, 43);
  }
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid grey;
    border-radius: 20px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
   max-height: 43px;
   border-radius: 50%;
}

